upstream unicorn_<%= app_short_name %> {
	server unix:<%= shared_path %>/tmp/unicorn.sock fail_timeout=0;
}


<% if defined?(secondary_host_names) %>
  <% secondary_host_names.split(',').each do |shn| %>
server {
  listen       80;
  server_name  <%= shn %>;
  rewrite ^ http://<%= nginx_host_name %>$request_uri permanent;
}
  <% end %>
<% end %>

server {
    listen       80;
    server_name  <%= nginx_host_name %>;
    root <%= current_path %>/public;
	
	error_log <%= current_path %>/log/nginx_error.log;
	access_log <%= current_path %>/log/nginx_access.log;
	
  try_files $uri/index.html $uri.html $uri @app;

  location @app {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
     	  proxy_set_header Host $http_host;
      	proxy_redirect off;
        proxy_pass http://unicorn_<%= app_short_name %>;
  }
}