#! /bin/bash
### BEGIN INIT INFO
# Provides:          <%= app_short_name %>
# Required-Start:    $local_fs $remote_fs $network $syslog
# Required-Stop:     $local_fs $remote_fs $network $syslog
# Default-Start:     3 4 5
# Default-Stop:      0 1 6
# Short-Description: <%= app_short_name %>
# Description:       Default Isomer Template for <%= app_short_name %>
### END INIT INFO

DAEMON_OPTS="-c <%= unicorn_configuration_location %> -E <%= rails_env %> -D"
APP_DIR="<%= deploy_to %>/current"
DESC="<%= app_short_name %>"
PID="<%= unicorn_pid %>"
DONE="Complete!"
USER="<%= user %>"

case "$1" in
  start)
        echo -n "Starting $DESC: "
        if [ `whoami` = root ]; then
          sudo -u $USER sh -l -c "<%= File.join(rvm_bin_path, 'rvm-shell')%> '<%= rvm_ruby_string_evaluated %>' -c \"cd ${APP_DIR} > /dev/null 2>&1 && bundle exec unicorn $DAEMON_OPTS\""
        else
          <%= File.join(rvm_bin_path, 'rvm-shell')%> "<%= rvm_ruby_string_evaluated %>" -c "cd ${APP_DIR} > /dev/null 2>&1 && bundle exec unicorn $DAEMON_OPTS"
        fi
        echo "${DONE}."
        ;;
  stop)
        echo -n "Stopping $DESC: "
        kill -QUIT `cat $PID`
        echo "${DONE}."
        ;;
  restart)
        echo -n "Restarting $DESC: "
        kill -USR2 `cat $PID`
        echo "${DONE}."
        ;;
  reload)
        echo -n "Reloading $DESC configuration: "
        kill -HUP `cat $PID`
        echo "${DONE}."
        ;;
  *)
        echo "Usage: $NAME {start|stop|restart|reload}" >&2
        exit 1
        ;;
esac

exit 0